/* App.css */
body {
  background: linear-gradient(to bottom right, #d9e9f6, #f5fcff);
  color: #333;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
